<h1>Example : Image Quality</h1>
<!--<%= session[:test_set] %>
<%= session[:subtask] %>
<%= session[:first] %>-->

<p>Did you see any distortion in this image?</p>

<div align="center">
  <%= render 'layouts/distortionVisible' %>
</div>

<div class="buttons">
  <%= link_to "Next", semanticRecognition_path, class: "btn btn-large btn-primary" %>
</div>

