<h1>Example : Image Quality</h1>
<!--<%= session[:test_set] %>
<%= session[:subtask] %>
<%= session[:first] %>-->

<p>Please indicate the quality of the image on a scale from 1 (bad) to 5 (excellent) below:</p>

<div align="center">
  <%= render 'layouts/scaleACR' %>
</div>

<div class="buttons">
  <%= link_to "Next", ready_path, class: "btn btn-large btn-primary" %>
</div>

