<h1>Example : Image Quality</h1>
<!--<%= session[:test_set] %>
<%= session[:subtask] %>
<%= session[:first] %>-->

<p>Please select the details that best describe the scene in the picture:</p>

<div align="center">
  <%= render 'layouts/outdoorManMadeDetails' %>
</div>

<div class="buttons">
  <%= link_to "Next", describeObject_path, class: "btn btn-large btn-primary" %>
</div>

