<p>Please select the details that best describe the scene in the picture:</p>

<table>
  <tr>
    <td><%= radio_button_tag :outdoor_natural_detail, 'water/ice/snow' %></td>
    <td><%= label_tag 'Water / ice / snow' %></td>
  </tr>
  <tr>
    <td><%= radio_button_tag :outdoor_natural_detail, 'forest/field/jungle' %></td>
    <td><%= label_tag 'Forest / field / jungle' %></td>
  </tr>
  <tr>
    <td><%= radio_button_tag :outdoor_natural_detail, 'mountain/hills/desert/sky' %></td>
    <td><%= label_tag 'Mountain / hills / desert / sky' %></td>
  </tr>
</table>