<p>Please select the best category that describes the object in the picture:</p>

<table>
  <tr>
    <td></td>
    <td><%= label_tag 'Animate' %></td>
  </tr>
  <tr>
    <td><%= radio_button_tag :describe_object, 'animate_human' %></td>
    <td><%= label_tag 'Human' %></td>
  </tr>
  <tr>
    <td><%= radio_button_tag :describe_object, 'animate_animal' %></td>
    <td><%= label_tag 'Animal' %></td>
  </tr>
  <tr>
    <td></td>
    <td><%= label_tag 'Inanimate' %></td>
  </tr>
  <tr>
    <td><%= radio_button_tag :describe_object, 'inanimate_natural ' %></td>
    <td><%= label_tag 'Natural' %></td>
  </tr>
  <tr>
    <td><%= radio_button_tag :describe_object, 'inanimate_man_made' %></td>
    <td><%= label_tag 'Man-made' %></td>
  </tr>
</table>