<p>Please select the best category that describes the object in the picture:</p>

<%= label_tag 'Animate' %>
<br>
<%= radio_button_tag :picture_object, 'human' %>
<%= label_tag 'Human' %>
<br>
<%= radio_button_tag :picture_object, 'animal' %>
<%= label_tag 'Animal' %>
<br>

<%= label_tag 'Inanimate' %>
<br>
<%= radio_button_tag :picture_object, 'natural ' %>
<%= label_tag 'Natural' %>
<br>
<%= radio_button_tag :picture_object, 'man_made' %>
<%= label_tag 'Man-made' %>