<p>Please select the best category that describes the object in the picture:</p>

<%= label_tag 'Animate' %>
<br>
<%= radio_button_tag :describe_object, 'animate_human' %>
<%= label_tag 'Human' %>
<br>
<%= radio_button_tag :describe_object, 'animate_animal' %>
<%= label_tag 'Animal' %>
<br>

<%= label_tag 'Inanimate' %>
<br>
<%= radio_button_tag :describe_object, 'inanimate_natural ' %>
<%= label_tag 'Natural' %>
<br>
<%= radio_button_tag :describe_object, 'inanimate_man_made' %>
<%= label_tag 'Man-made' %>