<p>Please select the details that best describe the scene in the picture:</p>

<%= radio_button_tag :outdoor_natural_detail, 'water/ice/snow' %>
<%= label_tag 'Water / ice / snow' %>
<br>
<%= radio_button_tag :outdoor_natural_detail, 'forest/field/jungle' %>
<%= label_tag 'Forest / field / jungle' %>
<br>
<%= radio_button_tag :outdoor_natural_detail, 'mountain/hills/desert/sky' %>
<%= label_tag 'Mountain / hills / desert / sky' %>