<p>Please select the details that best describe the scene in the picture:</p>

<%= radio_button_tag :outdoor_natural_details, 'water' %>
<%= label_tag 'Water / ice / snow' %>
<br>
<%= radio_button_tag :outdoor_natural_details, 'forest' %>
<%= label_tag 'Forest / field / jungle' %>
<br>
<%= radio_button_tag :outdoor_natural_details, 'mountain' %>
<%= label_tag 'Mountain / hills / desert / sky' %>