<p>Please select the details that best describe the scene in the picture:</p>

<%= radio_button_tag :outdoor_man_made_detail, 'commercial_buildings/shops/markets/cities/towns' %>
<%= label_tag 'Commercial buildings / shops / markets / cities / towns' %>
<br>
<%= radio_button_tag :outdoor_man_made_detail, 'houses/cabins/gardens/farms' %>
<%= label_tag 'Houses / cabins / gardens / farms' %>
<br>
<%= radio_button_tag :outdoor_man_made_detail, 'sports_fields/parks/leisure_spaces' %>
<%= label_tag 'Sports fields / parks / leisure spaces' %>