<p>Please select the details that best describe the scene in the picture:</p>

<%= radio_button_tag :outdoor_man_made_details, 'commercial' %>
<%= label_tag 'Commercial buildings / shops / markets / cities / towns' %>
<br>
<%= radio_button_tag :outdoor_man_made_details, 'house' %>
<%= label_tag 'Houses / cabins / gardens / farms' %>
<br>
<%= radio_button_tag :outdoor_man_made_details, 'park' %>
<%= label_tag 'Sports fields / parks / leisure spaces' %>