<p>Please select the best category that describes the scene in the picture:</p>

<%= radio_button_tag :semantic_recognition, 'indoor' %>
<%= label_tag :semantic, 'Indoor' %>
<br>
<%= radio_button_tag :semantic_recognition, 'outdoor_natural' %>
<%= label_tag :semantic, 'Outdoor Natural' %>
<br>
<%= radio_button_tag :semantic_recognition, 'outdoor_man_made' %>
<%= label_tag :semantic, 'Outdoor Man Made' %>