<h1><%= (session[:training] || session[:training].nil?) ? 'Example' : 'Questions' %> : Image Quality</h1>
<!--<%= session[:test_set] %>
<%= session[:subtask] %>
<%= session[:first] %>-->

<%= form_tag controller: 'question', action: 'question', class: 'nifty_form' do %>
    <div align="center">
      <%= render partial: "question/#{@question}" %>
    </div>

    <div class="buttons">
      <%= submit_tag 'Next', class: 'btn btn-large btn-primary', :disabled => true %>
    </div>
<% end %>

<script>
    var $radioButtons = $("input:radio");

    // if no radio buttons
    if ($radioButtons.size() == 0) {
        $("input[name='commit']").removeAttr("disabled");
    }

    $radioButtons.change(function () {
        var anyRadioButtonHasValue = false;

        $radioButtons.each(function () {
            if (this.checked) {
                anyRadioButtonHasValue = true;
            }
        });

        if (anyRadioButtonHasValue) {
            $("input[name='commit']").removeAttr("disabled");
        }
    })
</script>