<h1><%= session[:training] ? 'Example' : 'Questions' %> : Image Quality</h1>
<!--<%= session[:test_set] %>
<%= session[:subtask] %>
<%= session[:first] %>-->

<%= form_tag controller: 'question', action: 'question', class: 'nifty_form' do %>
    <div align="center">
      <%= render partial: "question/#{@question}" %>
    </div>

    <div class="buttons">
      <%= submit_tag 'Next', class: 'btn btn-large btn-primary' %>
    </div>
<% end %>